server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/alert_engine_db
    username: alert_user
    password: admin
  
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      properties:
        spring.json.add.type.headers: false
  
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.aiscientist.alert_engine: DEBUG
